fastapi
uvicorn
langgraph
langchain
langchain_community
chromadb
tavily-python
sentence-transformers
pypdf
pymupdf
python-multipart
python-dotenv
langchain-google-genai
huggingface_hub
langchain-core
langchain-ollama
pydantic
langchain-huggingface
langchain_groq
langchain_openai

